@charset "UTF-8";

/* div {
    list-style-type: none; 
    text-align: center; 
  display:block;
    margin: auto; 
} */

.line{
    border-bottom: 7px solid gray;
}

.menu{
    display: flex;
    margin-left: auto;
    text-align: right;
    justify-content: flex-end;
}

.menu li a{
    list-style-type: none;
    padding: auto;
}


/* .iro{
    background-color: #4169e1;
} */
